//
// HOME PAGE: Responsive
// --------------------------------------------------

@media screen and (max-width: 480px) {

	body#site {

		p { font-size: 13px; }

		#fullPage-nav { display:none; }

	}

	.brand-wrapper {

		width: 90% !important;
		left: 5% !important;
	}

	.container-fluid {
		background-size: 100% 30%;
	}

}

@media screen and (min-width: 480px) and (max-width: 568px) {

	body#site {

		p { font-size: 13px; }

		#fullPage-nav { display:none; }

	}

	.brand-wrapper {

		width: 90% !important;
		left: 5% !important;
	}

	.container-fluid {
		background-size: 100% 35%;
	}
}

@media screen and (min-width: 568px) and (max-width: 768px) {

	.brand-wrapper {

		width: 90% !important;
		left: 5% !important;
	}

	.container-fluid {
		background-size: 100% 40%;
	}
}