//
// HOME PAGE
// --------------------------------------------------
.container-fluid {

	padding: 0;
	margin:0;
	height: 100%;
	background-image: image-url($screen-bg);
	background-color: #fff;
	background-repeat: repeat-x;
	background-size: 100% 40%;
}

body#site {

	line-height: 1.4;
	background-color: #FFF;
	text-align: center;

	.row {

		padding: 0 !important;
		margin: 0 !important;
	}
	
	/* Common styles
	* --------------------------------------- */
	img { @include transition(all 0.7s ease-out); }
	
	.section {
		
		text-align:center;
		overflow:hidden;
	}
	
	.section-background-overlay {

		@include overlay-background(#7DEF0F, 0.5);
	}
	
	/* Section 0
	* --------------------------------------- */
	#section0 {

		height: 100%;

		.brand-wrapper {

			width: 40%;
			position: absolute;
			top: 20%;
			left: 30%;
			z-index: 999;
		}

		.logo-wrapper {

			width: 50%;
			margin: 0 auto;

			#logo {

				display: block;
				position: relative;
				width: 100%;
				overflow: hidden;
			}
		}

		#logo-mask-wrapper {

			position: relative;
			width: 50%;
			margin: 0 auto;
			height: auto;

			#logo-mask {

				position: relative;
				display: block;
			}
		}

		.logo-text-wrapper {

			width: 80%;
			margin: 0 auto;
			position: relative;

			#logo-title {

		    display: block;
				position: relative;
				width: 100%;
			}

			#logo-title-slogan{
				display: block;
				position: absolute;
				width: 100%;
				bottom: 0;
				left:0;
			}
		}

		/* replaced with Vivus.js 
		.title {

		  stroke-dasharray: 500;
		  stroke-dashoffset: 500;
		  animation: draw 5s linear forwards;
		  font-weight: bold;
		  font-family: $title-font;
		}
		@keyframes draw { to { stroke-dashoffset: 0; } }
		*/

		.svg-content { display: block; }

		.outline-svg {

			fill-opacity: 0;
			transition: fill-opacity 2s;
		}

		.outline-svg.finished { fill-opacity: 1; }

	}
}
