//
// 	Layout
// --------------------------------------------------

body{ padding-top: 60px; }
.extra-margin-top{ margin-top:40px; }
.glyphicon{ top: 0; }

h1{
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
	line-height: 70px !important;

	span{
		display: block;
		margin: 0 auto;
	}
}